<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Live Net Worth</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
</head>
<body class="bg-light-red near-white pa0 ma0 roboto">
  <div id="app">
   
    <div class="absolute top-1 left-1 pv3">
      
      <input-group name="Investments" v-model="investments"></input-group>
      <input-group name="Annual Income" help="After Taxes" v-model="income"></input-group>
      <input-group name="Annual Expenses" v-model="expenses"></input-group>
     
    </div>
    
    <article class="vh-100 dt w-100">
        <div class="dtc v-mid tc ph3 f1">
            <span class="">${{currency}}</span>.<span class="">{{microCurrency}}</span>
            <p class="f3 near-black">{{now}}</p>
        </div>
      </article>

      <div class="absolute bottom-0 tc w-100">
        <p class="f3">Simple Live Net Worth Calculator</p>
      </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>